@font-face {
	font-family: 'Montserrat-Regular';
	src: url('../fonts/Montserrat/Montserrat-Regular.ttf');
}

@font-face {
	font-family: 'Montserrat-Light';
	src: url('../fonts/Montserrat/Montserrat-Light.ttf');
}

@font-face {
	font-family: 'Montserrat-Bold';
	src: url('../fonts/Montserrat/Montserrat-Bold.ttf');
}

@font-face {
	font-family: 'Montserrat-ExtraBold';
	src: url('../fonts/Montserrat/Montserrat-ExtraBold.ttf');
}

html {
    overflow: hidden;
    /*letter-spacing: .5px;*/
    font-size: 16px;
    font-family: 'Montserrat-Regular', sans-serif;
}

.body__container, .slide__loading {
    width: 100vw;
    height: 100vh;
    position: relative;
}

/**
* First slide
*/

.slide__one, .slide__loading, .slide__error {
    background: url('../images/slide_one/slide_one_bg.png') no-repeat 0 0, #000;
    background-size: cover;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    position: relative;
}

.slide__loading {
    z-index: 10;
}

.header {
    padding: 50px 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 4;
    font-size: 0.875rem;
    padding-bottom: 0;
}

.flex-cnt {
    display: flex;
    align-items: center;
}

.fl-jst-space {
    justify-content: space-between;
}

.fl-jst-center {
    justify-content: center;
}

.fl-dir-col {
    flex-direction: column;
}

.fl-alg-end {
    align-items: flex-end;
}

.fl-alg-st {
    align-items: flex-start;
}

.cl-white {
    color: #fff;
}

.cl-black {
    color: #000;
}

.fl-row-reverse {
    flex-direction: row-reverse;
}

.pd-right-50 {
    padding-right: 50px;
}

.pd-left-50 {
    padding-left: 50px;
}

.pd-right-30 {
    padding-right: 30px;
}

.pd-left-30 {
    padding-left: 30px;
}

a {
    text-decoration: none;
}

.header__wrapper {
    width: 100%;
    padding: 0 50px;
}

.header__links {
    margin-left: 70px;
}

.header__link {
    margin: 0 30px;
    position: relative;
}

.header__language {
    color: #f4511e;
    margin-right: 40px;
    text-transform: uppercase;
}

.header__email {
    margin-right: 40px;
}

.mobile__menu {
    display: none;
}

.slide__one .carousel__nav {
    display: none;
}

.header__link-active::after {
    content: "";
    background: url('../images/active_circle.png') no-repeat 0 0;
    width: 15px;
    height: 15px;
    position: absolute;
    bottom: -125%; 
    left: 45%;
}

.background__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 0;
}

.opacity-77 {
    opacity: .77;
}

.main__content {
    padding: 0 12%;
    z-index: 1;
}

.main__title {
    font-family: 'Montserrat-ExtraBold', sans-serif;
    font-size: 4.563rem;
    margin-right: 30px;
    position: relative;
}

.main__title::after {
    content: "";
    background: url('../images/slide_one/vertical_line.png') no-repeat 0 0;
    width: 100%;
    height: 100%;
    position: absolute;
    right: -105%;
    top: 26%;
}

.content__slide {
    overflow: hidden;
}

.sub__title {
    font-size: 4.063rem;
    color: #f0501e;
    font-weight: normal;
    letter-spacing: -6px;
}

.description__wrapper {
    width: 59%;
}

.next__slide-arrow {
    display: none;
}

.next__slide-arrow:hover {
    cursor: pointer;
}

.description {
    font-size: 0.5625rem;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 1% 0 2% 10%;
    z-index: 2;
}

.opacity__block {
    width: 100%;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
}

.menu-mobile {
    display: none;
}

.filter--color {
    filter: brightness(0) invert(1);
}

.footer__wrapper {
    position: relative;
    z-index: 1;
    justify-content: flex-end;
    align-items: flex-start;
}

.footer__item-head {
    font-size: 0.875rem;
    font-family: 'Montserrat-Bold', sans-serif;
    text-transform: uppercase;
    margin-bottom: 15%;
}

.footer__item-text {
    font-size: 0.75rem;
    font-family: 'Montserrat-Regular', sans-serif;
}

.width-50 {
    width: 50%;
}

.width-70 {
    width: 70%;
}

.width-60 {
    width: 60%;
}

.footer__item {
    padding: 2% 3%;
    width: 100%;
}

.footer__item-figure {
    width: 38px;
    height: 7px;
    background-color: #f0501e;
    margin-bottom: 10%;
}

.slide__one .text__block  {
    position: relative;
    height: 100%;
    padding-left: 5%;
}

.slide__one .text__block::after {
    content: "";
    background: url('../images/slide_one/dots.png') no-repeat 0 0;
    position: absolute;
    top: 10%;
    left: 50%;
    width: 100%;
    height: 100%;
}

.slide__one .text__block-wrapper {
    margin-top: -30%;
}

.slide__one .text__block .h1 {
    margin: 6% -3px 1%;
}

.slide__one .image__block img {
    width: 100%;
}

.main__aside {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    width: 7.5%;
    z-index: 1;
}

.aside__wrapper {
    width: 100%;
    height: 100%;
    background: url('../images/aside_vertical_line.png') no-repeat 50% 60%;
    flex-direction: column;
}

.aside-dark .aside__wrapper {
    filter: brightness(15%);
}

.aside__content {
    flex-direction: column;
    height: 100%;
    padding: 115% 0;
    font-family: 'Montserrat-Light', sans-serif;
    font-size: 1.063rem;
    padding-bottom: 90%;
}

.sub__point {
    background: url('../images/aside_sub_dot.png') no-repeat 0 0;
    width: 4px;
    height: 5px;
}

.main__point {
    background: url('../images/aside_main_dot.png') no-repeat 50% 50%;
}

.main__point .point__right {
    opacity: .3;
}

.main__point-active {
    background: url('../images/aside_main_active_dot.png') no-repeat 50% 50%;  
}

.main__point.main__point-active .point__right {
    opacity: 1;
}

.point__left {
    margin-right: 15%;
    min-width: 15.5px;
    width: 35%;
    text-align: end;
}

.point__right {
    margin-left: 15%;
    white-space: nowrap;
    width: 35%;
}

.hidden {
    display: none !important;
}

/**
* Second slide
*/

.slide__two {
    background-color: #fff;
    background: url('../images/slide_two/slide_two_bg.png') no-repeat 0 0;
    background-size: cover;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    position: relative;
}

.slide__two-main {
    align-items: stretch;
}

.slide__two .main-container {
    justify-content: space-between;
}

.slide__two .slide__title-h2 {
    font-family: 'Montserrat-Light', sans-serif;
    font-size: 1.875rem;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-weight: normal;
}

.slide__two-header {
    padding-bottom: 50px;
}

.slide__two-wrapper {
    padding: 0 10%;
}

.slide__two .img__wrapper {
    width: 90px;
    height: 90px;
    background-color: #fff;
    border-radius: 50%;
}

.slide__two .left-container .description__wrapper-text {
    text-align: right;
}

.slide__two .right-container .description__wrapper-text {
    text-align: left;
}

.slide__two .description__wrapper {
    font-size: 0.875rem;
    font-family: 'Montserrat-Light', sans-serif;
    width: 100%;
    justify-content: flex-end;
}

.slide__four-item .image__wrapper img {
    width: 100%;
}

.slide__two .image__container {
    max-width: 372px;
}

/**
* Third slide
*/

.slide__three {
    background-color: #000;
    background: url('../images/slide_three/slide_three_bg.png') no-repeat 0 0;
    background-size: cover;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    position: relative;
}

.slide__three-wrapper {
    align-items: stretch;
}

.slide__three .circle__wrapper {
    width: 180px;
    height: 180px;
    background: #f2501e;
    border-radius: 50%;
}

.slide__three-wrapper {
    padding: 0 12%;
}

.slide__three .main__item-wrapper {
    width: 25%;
}

.slide__three .header__title {
    font-size: 1.875rem;
    font-family: 'Montserrat-Light', sans-serif;
    font-weight: normal;
    margin-top: 0;
}

.slide__three p {
    font-size: 0.875rem;
}

.slide__three .text__steps {
    font-size: 1.125rem;
    font-family: 'Montserrat-Bold', sans-serif;
}

.slide__three-header {
    margin-bottom: 5%;
    z-index: 2;
}

.header__button-create {
    font-family: 'Montserrat-Bold', sans-serif;
    font-size: 0.875rem; 
    text-transform: uppercase;
    background-color: #f2501e;
    border-radius: 29.5px;
    width: 95%;
}

.header__button-create p {
    margin-right: 20px;
    width: 60%;
}

.header__button-create::after {
    content: url('../images/slide_three/arrow.png');
}

.slide__three .main__item-description {
    font-size: 0.75rem;
}

.slide__three .main__item-header {
    margin-bottom: 15%;
}

.slide__three-main {
    position: relative;
    z-index: 1;
    width: 105%;
}

.slide__three-main::after {
    content: url('../images/slide_three/horizontal_dots.png');
    position: absolute;
    top: 22%;
    left: 3%;
    z-index: -1;
}

.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    opacity: .73;
    z-index: 2;
}

input[type=submit]:hover {
    cursor: pointer;
}

.registration__form, .contact__form, .search__form {
    background-color: #fff;
    height: 100%;
    width: 40%;
    position: absolute;
    top: 0;
    right: -40%;
    z-index: 4;
    transition: right .5s;
    font-family: 'Montserrat-Light', sans-serif;
    color: #1b1b1b;
}

.registration__form--active, .contact__form--active, .search__form--active  {
    right: 0;
}

.registration__cancel, .contact__cancel, .search__cancel {
    position: absolute;
    top: 50px;
    right: 50px;
}

.form__item-checkbox:hover {
    cursor: pointer;
}

.registration__form-wrapper, .contact__form-wrapper {
    padding: 0 15%;
}

.registration__form .form__item, .contact__form .form__item  {
    width: 100%;
    margin-bottom: 35px;
}

.registration__form .form__item label, .contact__form .form__item label {
    width: 70%;
}

.registration__form .form__item:last-child, .contact__form .form__item:last-child {
    margin-bottom: 0;
}

.registration__form .form__item-checkbox, .contact__form .form__item-checkbox {
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: flex-start;
}

.registration__form .form__item-checkbox .checkbox__container, .contact__form .form__item-checkbox .checkbox__container {
    width: 18px;
    height: 18px;
    border: 1px solid #414141;
    border-radius: 3px;
}

.registration__form .form__label, .contact__form .form__label, .search__form .form__label {
    font-size: 1.125rem;
    margin-bottom: 35px;
}

.registration__form input, .contact__form input, .contact__form textarea, .search__form input {
    border-radius: 29.5px;
    outline: none;
    width: -webkit-fill-available;
    width: fill-available;
    width: -moz-available;
}

.contact__form textarea {
    border-radius: 20px;
    resize: none;
}

.registration__form input, .registration__form .checkbox__label, .contact__form input, .contact__form .checkbox__label, .contact__form textarea, .search__form input {
    font-size: 0.75rem;
}

.registration__form .checkbox__label, .contact__form .checkbox__label {
    margin-left: 20px;
}

.registration__form input[type=text], .search__form input[type=text], .registration__form input[type=email], .contact__form input[type=text], .contact__form input[type=tel], .contact__form input[type=email], .contact__form textarea {
    border: 1px solid #414141;
    padding: 20px 25px;
}

.registration__form input[type=submit], .contact__form input[type=submit] {
    font-family: 'Montserrat-Bold', sans-serif;
    background-color: #f2501e;
    border: none;
    border-radius: 29.5px;
    padding: 20px 0;
}

.registration__form input[type=checkbox] ~ .checkbox__container img, .contact__form input[type=checkbox] ~ .checkbox__container img {
    display: none;
}

.registration__form input[type=checkbox]:checked ~ .checkbox__container img, .contact__form input[type=checkbox]:checked ~ .checkbox__container img {
    display: block;
}

.registration__form .form__success .form__success-text, .contact__form .form__success .form__success-text {
    text-align: center;
    margin-top: 30px;
    width: 80%;
}

.registration__form .form__success .form__success-text p, .contact__form .form__success .form__success-text p {
    margin: 0;
    font-size: 1.125rem;
}

.registration__form .form__success .form__success-text a, .contact__form .form__success .form__success-text a {
    color: #f2501e;
}

/**
* Fouth slide
*/

.slide__four {
    background-color: #fff;
    background: url('../images/slide_two/slide_two_bg.png') no-repeat 0 0;
    background-size: cover;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    position: relative;
}

.slide__four-wrapper {
    padding: 0 10%;
}

.slide__four-header {
    width: 100%;
    margin-top: 5%;
    padding-bottom: 5%;
}

.slide__four .header__title h2 {
    font-size: 1.875rem;
    font-family: 'Montserrat-Light', sans-serif;
    font-weight: normal;
    margin: 0;
}

.slide__four-main {
    width: 90%;
}

.slide__four-main_top {
    justify-content: flex-end;
}

.slide__four-main_top .main__description {
    width: 33%;
    text-align: right;
    padding-right: 5%;
}

.slide__four .header__nav {
    font-size: 1rem;
    margin-right: 3%;
    z-index: 2;
}

.slide__four .header__nav-item {
    opacity: .41;
    margin-left: 50px;
}

.slide__four .header__nav-item:first-child {
    margin-left: 0;
}

.slide__four .header__nav-item--active {
    font-family: 'Montserrat-Bold', sans-serif;
    opacity: 1;
}

.slide__four-main_top, .slide__four-main_bottom {
    width: 100%;
}

.slide__four-main_bottom {
    justify-content: space-between;
}

.slide__four-item .image__wrapper {
    height: 350px;
    position: relative;
    margin-bottom: 30px;
}

.slide__four-item .image__wrapper::after {
    content: url('../images/slide_four/white_splash.png');
    position: absolute;
    bottom: -5px;
    left: -190px;
}

.slide__four .item__title {
    text-align: center;
    font-family: 'Montserrat-Bold', sans-serif;
    width: 40%;
}

.mr-lf-20 {
    margin-left: 20%;
}

.al-sf-centr {
    align-self: center;
}

/**
* Fifth slide
*/

.slide__five {
    background-color: #000;
    background: url('../images/slide_five/office.png') no-repeat 100% 100%, url('../images/slide_three/slide_three_bg.png') no-repeat 0 0;
    background-size: auto, cover;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    position: relative;
}

.slide__five-wrapper {
    padding: 0 15%;
    background: url('../images/slide_five/vertical_line.png') no-repeat 50% 50%;
}

.slide__five .slide__five-main--left {
    width: 50%;
}

.slide__five .slide__five-main--right {
    width: 50%;
    padding-left: 20%;
}


.slide__five .slide__five-main--right .right__container-item {
    margin-bottom: 15%;
}

.slide__five .slide__five-main--right .right__container-item:last-child {
    margin-bottom: 0;
}

.slide__five .slide__five-main--left .image__container {
    border-radius: 50%;
    border: 5px solid rgba(242, 80, 30, 0.22);
    padding: 10px;
}

.slide__five .man__name {
    font-family: 'Montserrat-Bold', sans-serif;
    text-transform: uppercase;
}

.slide__five .man__position {
    font-family: 'Montserrat-Light', sans-serif;
    width: 70%;
    margin-top: 2px;
}

.slide__five .slide__five-main--left .left__container-item {
    margin-bottom: 1%;
    width: 100%;
}

.slide__five .right__container .image__container {
    flex-grow: 2;
    width: 90px;
    height: 90px;
    background: url('../images/slide_five/gray_circle.png') no-repeat 0 0;
    border-radius: 50%;
}

.slide__five .left__container .text__container {
    margin-left: 40px;
    font-family: 'Montserrat-Light', sans-serif;
    font-size:  0.875rem;
    width: 100%;
}

.slide__five .right__container .text__container {
    flex-shrink: 10000;
    margin-left: 10%;
    font-family: 'Montserrat-Light', sans-serif;
    font-size:  0.875rem;
}

.slide__five .header__button-create {
    padding: 5px 20px;
}

.slide__five .header__button-create p {
    white-space: nowrap;
    margin-right: 50px;
}

/**
* Sixth slide
*/

.slide__six {
    background-color: #fff;
    background: url('../images/slide_six/map_kazan.png') no-repeat 100% 70%, url('../images/slide_two/slide_two_bg.png') no-repeat 0 0;
    background-size: auto, cover;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    position: relative;
}

.slide__six-wrapper {
    width: 100%;
}

.slide__six-header {
    width: 100%;
    justify-content: flex-end;
    padding-right: 2%;
    z-index: 2;
}

.slide__six-main {
    width: 100%;
}

.slide__six-footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
}

.slide__six-footer--wrapper {
    position: relative;
    z-index: 1;
    width: 100%;
    padding: 5% 10%;
}

.slide__six .footer__text {
    font-size: 0.75rem;
    width: 35%;
    margin-left: 15%;
}

.slide__six .header__item-link {
    font-family: 'Montserrat-Light', sans-serif;
    font-size: 2.313rem;
}

.slide__six .main__map {
    min-height: 500px;
    min-width: 500px;
}

.slide__six .contacts__item {
    margin-bottom: 50px;
}

.slide__six .contacts__item:last-child {
    margin-bottom: 0;
}

.slide__six .placeholder__image {
    position: absolute;
    top: 50%;
    left: 62%;
}

.slide__six .main__contacts {
    margin-right: 10%;
}

.slide__six .contacts__text {
    font-family: 'Montserrat-Bold', sans-serif;
    font-size: 0.875rem;
    margin-left: 30px;
}

.slide__six .contacts__text p {
    margin: 0;
}

.slide__six .header__item {
    opacity: .21;
    margin-left: 7%;
}

.slide__six .header__item:first-child {
    margin-left: 0;
}

.slide__six .header__item--active {
    opacity: 1;
}

.slide__six .footer__social  {
    width: 65%;
    justify-content: flex-end;
}

.slide__six .social__item  {
    margin-left: 5%;
}

.slide__six .social__item:first-child  {
    margin-left: 0;
}

.multi-spinner-container {
    width: 150px;
    height: 150px;
    position: relative;
    margin: 30px auto;
    overflow: hidden;
}
  
.multi-spinner {
    position: absolute;
    width: calc(100% - 9.9px);
    height: calc(100% - 9.9px);
    border: 5px solid transparent;
    border-top-color: #f0501e;
    border-radius: 50%;
    -webkit-animation: spin 5s cubic-bezier(0.17, 0.49, 0.96, 0.76) infinite;
    animation: spin 5s cubic-bezier(0.17, 0.49, 0.96, 0.76) infinite;
} 

.loading__spinner span {
    color: #f0501e;
    font-size: 40px;
    position: absolute;
    top: 35%;
    left: 35%;
}

.loading__text {
    font-size: 1.875rem;
    opacity: .29;
    display: flex;
    flex-direction: column;
    width: 200px;
}

.loading__text-top {
    align-self: flex-start;
}

.loading__text-bottom {
    align-self: flex-end; 
}

.search__form-wrapper {
    width: 70%;
}

.search__result {
    margin-top: 35px;
    height: 450px;
}

#search__form, .search__result-wrapper, .search__result-block {
    width: 100%;
}

.search__result-wrapper {
    overflow: auto;
}

.search__result-wrapper::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
.search__result-wrapper::-webkit-scrollbar-button {
  width: 5px;
  height: 5px;
}
.search__result-wrapper::-webkit-scrollbar-thumb {
  background: #ff0000;
  border: 0px none #ffffff;
  border-radius: 50px;
}
.search__result-wrapper::-webkit-scrollbar-thumb:hover {
  background: #ff0000;
}
.search__result-wrapper::-webkit-scrollbar-thumb:active {
  background: #ff0000;
}
.search__result-wrapper::-webkit-scrollbar-track {
  background: #dcdcdc;
  border: 3px none #ffffff;
  border-radius: 3px;
}
.search__result-wrapper::-webkit-scrollbar-track:hover {
  background: #dcdcdc;
}
.search__result-wrapper::-webkit-scrollbar-track:active {
  background: #dcdcdc;
}
.search__result-wrapper::-webkit-scrollbar-corner {
  background: transparent;
}

#search__form .form__item {
    width: 100%;
}

.search__result_block-container {
    padding: 20px 0;
    border-bottom: 2px dotted #dcdcdc;
    width: 97%;
}

.search__result_block-container a {
    text-decoration: underline;
    color: black;
    font-family: 'Montserrat-Bold', sans-serif;
}

.search__trigger-word {
    color: #f0501e;
    text-decoration: underline;
}

.error__back-btn {
    font-family: 'Montserrat-Bold', sans-serif;
    font-size: 0.875rem;
    text-transform: uppercase;
    background-color: transparent;
    border-radius: 29.5px;
    padding: 5px 25px;
    border: 2px solid #ff0000;
}

.error__text  {
    color: #f0501e;
}

.error__text-top {
    font-size: 3rem;
}

.error__text-bottom {
    font-size: 1.5rem;
}

.error__back-btn p {
    margin-left: 20px;
}

.error__back-btn::before {
    content: url(../images/arrow_to_left.png);
}

.error__logo, .error__image, .error__text {
    margin-bottom: 40px;
}
        
@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
        
        
@keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/**
* Desktop media queries
*/

@media (max-width: 1600px) {

}

@media (max-width: 1440px) {
    html {
        font-size: 14px;
    }
}

@media (max-width: 1200px) {

}

/**
* Tablet media queries
*/

@media (max-width: 960px) {
    .main__aside {
        display: none;
    }

    .header__links {
        display: none;
    }

    /**
    * Slide one media queries
    */

    .slide__one {
        background-position-x: 45%;
    }

    .slide__one .main__content {
        flex-direction: column;
        padding-left: 50px;
    }

    .slide__one .text__block {
        padding: 0;
        width: 100%;
    }

    .slide__one .image__block {
        width: 60%;
    }

    .slide__one .text__block::after {
        display: none;
    }

    .slide__one .text__block .description__wrapper {
        width: 80%;
    }

    .slide__one .text__block .description__wrapper .description {
        font-size: 0.7625rem;
    }

    .slide__one .text__block .description__wrapper .description:last-child {
        display: none;
    }

    .slide__one .main__title::after {
        top: 5%;
    }

    .slide__one .footer__item {
        flex: 0 0 auto;
        padding: 0;
        padding-bottom: 10%;
    }

    .slide__one .text__block-wrapper {
        margin-top: 0;
    }

    .slide__one .text__block-wrapper .main__title {
        font-size: 3.563rem;
    }

    .slide__one .text__block-wrapper .sub__title {
        font-size: 3.063rem;
        letter-spacing: -3px;
    }

    .slide__one .footer__item-figure {
        margin-bottom: 3%;
    }

    .slide__one .footer__item-head {
        margin-bottom: 5%;
    }

    .slide__one .footer__item .footer__item-text {
        width: 70%;
    }

    .slide__one .footer {
        padding: 0;
        width: 100%;
    }

    .slide__one .footer__wrapper .footer__item-wrapper {
        padding-left: 50px;
        padding-top: 7%;
        padding-bottom: 10%;
    }

    .menu-mobile {
        display: block;
        margin-right: 30px;
        width: 25px;
        height: 25px;
    }

    .menu-mobile img {
        width: 100%;
    }

    .header__language {
        margin-right: 30px;
        font-size: 1.25rem;
    }

    .header__email {
        margin-right: 30px;
    }
    
    .mobile__menu {
        display: block;
        width: 100%;
        background-color: #f2501e;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 3;
        padding-top: 150px;
    }

    .mobile__menu .mobile__menu-wrapper {
        padding-left: 50px;
    }

    .header__link {
        margin: 0;
        margin-left: 50px;
        margin-bottom: 50px;
    }

    .mobile__menu .header__link {
        color: #fff;
    }

    .mobile__menu .header__link-active::after {
        content: "";
        background: url('../images/circle_white.png') no-repeat 0 0;
        width: 17px;
        height: 17px;
        position: absolute;
        bottom: unset; 
        left: -50px;
    }

    .next__slide-arrow {
        display: block;
        position: absolute;
        bottom: 3%;
        z-index: 2;
        left: 45%;
    }

    .next__slide-arrow img {
        width: 100%;
    }

    .slide__one .owl-dots {
        display: flex;
        position: absolute;
        top: 10%;
        right: 0;
        padding-right: 50px;
    }

    .slide__one .owl-dots .owl-dot {
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background-color: #5d5d5d;
        margin-left: 10px;
    }

    .slide__one .owl-dots .owl-dot:first-child {
        margin-left: 0;
    }

    .slide__one .owl-dots .owl-dot.active {
        background-color: #f0501e;
    }

    .slide__one .owl-theme .owl-dots .owl-dot span {
        display: none;
    }

    /**
    * Slide two media queries
    */

    .slide__two-wrapper {
        padding: 0 12%;
    }

    .slide__two-header {
        padding-bottom: 0;
    }

    .slide__two .image__container {
        min-width: 200px;
        text-align: center;

    }

    .slide__two .image__container img {
        width: 90%;
        max-width: 100%;
    }

    .slide__two-main {
        position: relative;
    }

    .slide__two .main-container {
        justify-content: space-between;
        padding: 0;
        flex-direction: row;
        align-items: flex-start;
        width: 80%;
    }

    .slide__two-mobile_device {
        position: absolute;
        width: 30%;
        top: 15%;
        left: 10%;
    }

    .slide__two .description__wrapper {
        width: 100%;
        justify-content: flex-end;
        flex-direction: column-reverse;
        min-height: 500px;
    }

    .slide__two .description__wrapper.description__wrapper--active .img__wrapper {
        background-color: #ff0000;
    }

    .slide__two .description__wrapper.description__wrapper--active .img__wrapper img {
        filter: brightness(0) invert(1);
    }

    .slide__two .description__wrapper .img__wrapper:hover {
        cursor: pointer;
    }

    .slide__two .right-container .description__wrapper-text, .slide__two .left-container .description__wrapper-text {
        text-align: center;
        display: none;
        position: absolute;
        bottom: 5%;
        padding: 0;
        width: 100%;
        left: 0;
    }

    .slide__two .img__wrapper {
        width: 50px;
        height: 50px;
    }

    .slide__two .img__wrapper img {
        width: 40%;
    }

    .slide__two .img__wrapper img.mobile-width-25 {
        width: 25%;
    }

    .slide__two .left-container .description__wrapper--active .description__wrapper-text, .slide__two .right-container .description__wrapper--active .description__wrapper-text {
        display: block;
    }

    /**
    * Slide three media queries
    */

    .slide__three-wrapper {
        width: 100%;
        padding: 0;
    }

    .slide__three .main__item-wrapper {
        width: 100%;
        flex: 0 0 auto;
        align-items: center;
    }

    .slide__three .header__description-container {
        width: 100%;
    }

    .slide__three-header {
        flex-direction: column;
        padding-left: 50px;
    }

    .registration__form, .contact__form, .search__form {
        width: 100%;
        right: -100%;
    }

    .registration__form--active, .contact__form--active, .search__form--active {
        right: 0;
    }

    .registration__form input[type=submit], .contact__form input[type=submit] {
        padding: 20px 10px; 
    }

    .slide__three .main__item-header {
        margin-bottom: 10%;
    }

    .slide__three-main {
        width: 100%;
    }

    .slide__three p {
        font-size: 0.675rem;
    }

    .slide__three .header__title {
        font-size: 1.575rem;
        width: 80%;
    }

    .slide__three .text__steps {
        font-size: 1rem;
        width: 99%;
    }

    .slide__three .main__item-description {
        text-align: center;
    }

    .slide__three-main::after {
        left: 25%;
        top: 25%;
    }

    .slide__three-main::before {
        content: url(../images/slide_three/scroll_mobile.png);
        position: absolute;
        top: 23%;
        left: 15%;
        z-index: 1;
    }

    .slide__three .main__item-wrapper .circle__wrapper img {
        width: 85%;
    }

    /**
    * Slide four media queries
    */

    .slide__four-wrapper {
        height: 100%;
        width: 100%;
    }

    .slide__four-header {
        flex-direction: column;
        align-items: flex-start;
        margin-top: 25%;
    }

    .slide__four-item {
        flex: 0 0 auto;  
    }

    .slide__four-main_top {
        justify-content: flex-start;
    }

    .slide__four-main_top .main__description {
        width: 80%;
        text-align: left;
        padding-right: 0;
    }

    .slide__four-main {
        width: 100%;
    }

    .slide__four-item .image__wrapper img {
        width: 80%;
    }

    .slide__four .header__nav {
        margin-top: 5%;
    }

    .slide__four-item .image__wrapper {
        height: 290px;
    }

    .slide__four-wrapper::before {
        content: url(../images/slide_four/scroll_dark.png);
        position: absolute;
        top: 40%;
        right: 10%;
        z-index: 1;
    }

    .slide__four .owl-carousel .owl-stage-outer {
        overflow: unset;
    }

    /**
    * Slide five media queries
    */

    .slide__five {
        background-size: 150%, cover;
        background-position-x: 80%, 0px;
    }

    .slide__five-wrapper {
        width: 100%;
        flex-direction: column;
        background-image: url(../images/slide_four/horizontal_line.png);
        background-size: 60%;
        padding: 0;
    }

    .slide__five-wrapper .left__container {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }

    .slide__five .slide__five-main--left .left__container-item {
        width: 50%;
        flex-direction: column;
        margin-bottom: 5%;
    }

    .slide__five .slide__five-main--left .image__container img {
        width: 70px;
    }

    .slide__five .slide__five-main--left {
        width: 80%;
    }

    .slide__five .slide__five-main--right {
        width: 100%;
        padding: 0;
        justify-content: center;
    }

    .slide__five .slide__five-main--right .right__container-item {
        margin-bottom: 2%;
    }

    .slide__five .right__container .image__container {
        width: 70px;
        height: 70px;
        background-position: 50% 50%;
    }

    .slide__five .right__container .image__container img {
        width: 40%;
    }

    .slide__five-wrapper .right__container {
        align-items: center;
        width: 80%;
    }

    .slide__five .slide__five-main--left .image__container {
        padding: 5px;
        margin-bottom: 5%;
    }

    .slide__five .left__container .text__container {
        margin-left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 0.675rem;
    }

    .slide__five .right__container .text__container {
        font-size: 0.675rem;
    }

    .slide__five .man__name {
        text-align: center;
    }

    .slide__five .man__position {
        widtH: 100%;
        text-align: center;
    }

    .slide__five .header__button-create {
        font-size: 0.675rem;
    }

    /**
    * Slide six media queries
    */

    .slide__six-main {
        flex-direction: column;
    }

    .slide__six-header {
        justify-content: flex-start;
        padding: 0;
        padding-left: 100px;
        margin-bottom: 10%;
    }

    .slide__six .header__item-link {
        font-size: 1.613rem;
    }

    .slide__six .header__item {
        margin-left: 5%;
    }

    .slide__six .main__contacts {
        margin-right: 0;
    }

    .slide__six .main__map {
        min-height: 250px;
        min-width: 100%;
    }

    .slide__six-footer--wrapper {
        flex-direction: column-reverse;
        padding: 7% 10%;
    }

    .slide__six .footer__text {
        margin-left: 0;
        text-align: center;
        width: 80%;
    }

    .slide__six .footer__social {
        justify-content: center;
        width: 100%;
        margin-bottom: 7%;
    }

    .slide__six .social__item {
        margin-left: 7%;
    }

    .slide__five-wrapper .right__container {
        align-items: flex-start;
    }

    .slide__five .slide__five-main--right .right__container-item:last-child {
        align-self: center;
    }

    .slide__five .right__container .text__container {
        margin-left: 5%;
    }

    .slide__five .slide__five-main--left .left__container-item {
        margin-bottom: 3%;
    }

    .slide__two .description__wrapper {
        margin-right: 15px;
    }

    .slide__two .description__wrapper:last-child {
        margin-right: 0;
    }

    .slide__two .main-container.left-container {
        margin-right: 15px;
    }
}

/**
* Mobile media queries
*/

@media (max-width: 760px) {
    .main__aside {
        display: none;
    }

    .header__links {
        display: none;
    }

    /**
    * Slide one media queries
    */

    .slide__one {
        background-position-x: 45%;
    }

    .slide__one .main__content {
        flex-direction: column;
        padding-left: 50px;
    }

    .slide__one .text__block {
        padding: 0;
        width: 100%;
    }

    .slide__one .image__block {
        width: 60%;
    }

    .slide__one .text__block::after {
        display: none;
    }

    .slide__one .text__block .description__wrapper {
        width: 80%;
    }

    .slide__one .text__block .description__wrapper .description {
        font-size: 0.7625rem;
    }

    .slide__one .text__block .description__wrapper .description:last-child {
        display: none;
    }

    .slide__one .main__title::after {
        top: 5%;
    }

    .slide__one .footer__item {
        flex: 0 0 auto;
        padding: 0;
        padding-bottom: 10%;
    }

    .slide__one .text__block-wrapper {
        margin-top: 0;
    }

    .slide__one .text__block-wrapper .main__title {
        font-size: 3.563rem;
    }

    .slide__one .text__block-wrapper .sub__title {
        font-size: 3.063rem;
        letter-spacing: -3px;
    }

    .slide__one .footer__item-figure {
        margin-bottom: 3%;
    }

    .slide__one .footer__item-head {
        margin-bottom: 5%;
    }

    .slide__one .footer__item .footer__item-text {
        width: 70%;
    }

    .slide__one .footer {
        padding: 0;
        width: 100%;
    }

    .slide__one .footer__wrapper .footer__item-wrapper {
        padding-left: 50px;

    }

    .slide__one .carousel__nav {
        display: block;
    }

    .slide__two .description__wrapper {
        margin-right: 15px;
    }

    .slide__two .description__wrapper:last-child {
        margin-right: 0;
    }

    .slide__two .image__container img {
        width: 80%;
    }

    .slide__two .image__container {
        text-align: center;
    }

    .slide__two .main-container.left-container {
        margin-right: 15px;
    }

    .slide__four-header {
        margin-top: 15%;
    }

    .slide__five-wrapper .right__container {
        align-items: flex-start;
    }

    .slide__five .slide__five-main--right .right__container-item:last-child {
        align-self: center;
    }

    .slide__five .right__container .text__container {
        margin-left: 5%;
    }

    .slide__five .slide__five-main--left .left__container-item {
        margin-bottom: 3%;
    }

    .slide__six .placeholder__image {
        left: 20%;
    }
}

@media (max-width: 480px) {
    .main__aside {
        display: none;
    }

    .header__links {
        display: none;
    }

    /**
    * Slide one media queries
    */

    .slide__one {
        background-position-x: 45%;
    }

    .slide__one .main__content {
        flex-direction: column;
        padding-left: 50px;
    }

    .slide__one .text__block {
        padding: 0;
        width: 100%;
    }

    .slide__one .image__block {
        width: 100%;
    }

    .slide__one .text__block::after {
        display: none;
    }

    .slide__one .text__block .description__wrapper {
        width: 80%;
    }

    .slide__one .text__block .description__wrapper .description {
        font-size: 0.7625rem;
    }

    .slide__one .text__block .description__wrapper .description:last-child {
        display: none;
    }

    .slide__one .main__title::after {
        top: 5%;
    }

    .slide__one .footer__item {
        flex: 0 0 auto;
        padding: 0;
        padding-bottom: 10%;
    }

    .slide__one .text__block-wrapper {
        margin-top: 0;
    }

    .slide__one .text__block-wrapper .main__title {
        font-size: 3.563rem;
    }

    .slide__one .text__block-wrapper .sub__title {
        font-size: 3.063rem;
        letter-spacing: -3px;
    }

    .slide__one .footer__item-figure {
        margin-bottom: 3%;
    }

    .slide__one .footer__item-head {
        margin-bottom: 5%;
    }

    .slide__one .footer__item .footer__item-text {
        width: 70%;
    }

    .slide__one .footer {
        padding: 0;
        width: 100%;
    }

    .slide__one .footer__wrapper .footer__item-wrapper {
        padding-left: 50px;
        padding-top: 7%;
        padding-bottom: 10%;
    }

    .menu-mobile {
        display: block;
        margin-right: 20px;
        width: 25px;
        height: 25px;
    }

    .menu-mobile img {
        width: 100%;
    }

    .header__language {
        margin-right: 20px;
        font-size: 1.25rem;
    }

    .header__email {
        margin-right: 20px;
    }
    
    .mobile__menu {
        display: block;
        width: 100%;
        background-color: #f2501e;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 3;
        padding-top: 150px;
    }

    .mobile__menu .mobile__menu-wrapper {
        padding-left: 50px;
    }

    .header__link {
        margin: 0;
        margin-left: 50px;
        margin-bottom: 50px;
    }

    .mobile__menu .header__link {
        color: #fff;
    }

    .mobile__menu .header__link-active::after {
        content: "";
        background: url('../images/circle_white.png') no-repeat 0 0;
        width: 17px;
        height: 17px;
        position: absolute;
        bottom: unset; 
        left: -50px;
    }

    .next__slide-arrow {
        display: block;
        position: absolute;
        bottom: 3%;
        z-index: 2;
    }

    .next__slide-arrow img {
        width: 100%;
    }

    .slide__one .carousel__nav {
        display: flex;
        position: absolute;
        top: 10%;
        right: 0;
        padding-right: 50px;
    }

    .slide__one .carousel__nav .nav__dot {
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background-color: #5d5d5d;
        margin-left: 10px;
    }

    .slide__one .carousel__nav .nav__dot:first-child {
        margin-left: 0;
    }

    .slide__one .carousel__nav .nav__dot-active {
        background-color: #f0501e;
    }

    /**
    * Slide two media queries
    */

    .slide__two-wrapper {
        padding: 0 12%;
    }

    .slide__two-header {
        padding-bottom: 0;
    }

    .slide__two .image__container {
        min-width: 200px;

    }

    .slide__two .image__container img {
        width: 70%;
        max-width: 100%;
    }

    .slide__two-main {
        position: relative;
    }

    .slide__two .main-container {
        justify-content: space-between;
        padding: 0;
        flex-direction: row;
        align-items: flex-start;
        width: 80%;
    }

    .slide__two-mobile_device {
        position: absolute;
        width: 30%;
        top: 15%;
        left: 10%;
    }

    .slide__two .description__wrapper {
        width: 100%;
        justify-content: flex-end;
        flex-direction: column-reverse;
        min-height: 450px;
    }

    .slide__two .right-container .description__wrapper-text, .slide__two .left-container .description__wrapper-text {
        text-align: center;
        display: none;
        position: absolute;
        bottom: 5%;
        padding: 0;
        width: 100%;
        left: 0;
    }

    .slide__two .img__wrapper {
        width: 50px;
        height: 50px;
    }

    .slide__two .left-container .description__wrapper--active .description__wrapper-text {
        display: block;
    }

    /**
    * Slide three media queries
    */

    .slide__three-wrapper {
        width: 100%;
    }

    .slide__three .main__item-wrapper {
        width: 100%;
        flex: 0 0 auto;
        align-items: center;
    }

    .slide__three .header__description-container {
        width: 100%;
    }

    .slide__three-header {
        flex-direction: column;
        padding-left: 50px;
    }

    .registration__form, .contact__form, .search__form {
        width: 100%;
        right: -100%;
    }

    .registration__form--active, .contact__form--active, .search__form--active {
        right: 0;
    }

    .registration__form input[type=submit], .contact__form input[type=submit] {
        padding: 20px 10px; 
    }

    .slide__three .main__item-header {
        margin-bottom: 10%;
    }

    .slide__three-main {
        width: 100%;
    }

    .slide__three p {
        font-size: 0.675rem;
    }

    .slide__three .header__title {
        font-size: 1.575rem;
        width: 80%;
    }

    .slide__three .text__steps {
        font-size: 1rem;
        width: 99%;
    }

    .slide__three .main__item-description {
        text-align: center;
    }

    .slide__three-main::after {
        left: 25%;
        top: 25%;
    }

    .slide__three-main::before {
        content: url(../images/slide_three/scroll_mobile.png);
        position: absolute;
        top: 23%;
        left: 15%;
        z-index: 1;
    }

    /**
    * Slide four media queries
    */

    .slide__four-wrapper {
        height: 100%;
        width: 100%;
    }

    .slide__four-header {
        flex-direction: column;
        align-items: flex-start;
        margin-top: 25%;
    }

    .slide__four-item {
        flex: 0 0 auto;  
    }

    .slide__four-main_top {
        justify-content: flex-start;
    }

    .slide__four-main_top .main__description {
        width: 80%;
        text-align: left;
        padding-right: 0;
    }

    .slide__four-main {
        width: 100%;
    }

    .slide__four-item .image__wrapper img {
        width: 80%;
    }

    .slide__four .header__nav {
        margin-top: 5%;
    }

    .slide__four-item .image__wrapper {
        height: 290px;
    }

    .slide__four-wrapper::before {
        content: url(../images/slide_four/scroll_dark.png);
        position: absolute;
        top: 40%;
        right: 10%;
        z-index: 1;
    }

    /**
    * Slide five media queries
    */

    .slide__five {
        background-size: 150%, cover;
        background-position-x: 80%, 0px;
    }

    .slide__five-wrapper {
        width: 100%;
        flex-direction: column;
        background-image: url(../images/slide_four/horizontal_line.png);
        background-size: 60%;
    }

    .slide__five-wrapper .left__container {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }

    .slide__five .slide__five-main--left .left__container-item {
        width: 50%;
        flex-direction: column;
        margin-bottom: 5%;
    }

    .slide__five .slide__five-main--left .image__container img {
        width: 70px;
    }

    .slide__five .slide__five-main--left {
        width: 80%;
    }

    .slide__five .slide__five-main--right {
        width: 100%;
        padding: 0;
        justify-content: center;
    }

    .slide__five .slide__five-main--right .right__container-item {
        margin-bottom: 2%;
    }

    .slide__five .right__container .image__container {
        width: 70px;
        height: 70px;
        background-position: 50% 50%;
    }

    .slide__five .right__container .image__container img {
        width: 40%;
    }

    .slide__five-wrapper .right__container {
        align-items: center;
        width: 80%;
    }

    .slide__five .slide__five-main--left .image__container {
        padding: 5px;
        margin-bottom: 5%;
    }

    .slide__five .left__container .text__container {
        margin-left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 0.675rem;
    }

    .slide__five .right__container .text__container {
        font-size: 0.675rem;
    }

    .slide__five .man__name {
        text-align: center;
    }

    .slide__five .man__position {
        widtH: 100%;
        text-align: center;
    }

    .slide__five .header__button-create {
        font-size: 0.675rem;
    }

    /**
    * Slide six media queries
    */

    .slide__six-main {
        flex-direction: column;
    }

    .slide__six-header {
        justify-content: flex-start;
        padding: 0;
        padding-left: 100px;
        margin-bottom: 10%;
    }

    .slide__six .header__item-link {
        font-size: 1.613rem;
    }

    .slide__six .header__item {
        margin-left: 5%;
    }

    .slide__six .main__contacts {
        margin-right: 0;
    }

    .slide__six .main__map {
        min-height: 250px;
        min-width: 100%;
    }

    .slide__six-footer--wrapper {
        flex-direction: column-reverse;
        padding: 7% 10%;
    }

    .slide__six .footer__text {
        margin-left: 0;
        text-align: center;
        width: 80%;
    }

    .slide__six .footer__social {
        justify-content: center;
        width: 100%;
        margin-bottom: 7%;
    }

    .slide__six .social__item {
        margin-left: 7%;
    }

    .error__image {
        width: 75%;
    }

    .error__image img {
        width: 100%;
    }
}

@media (max-width: 320px) {
    .header__wrapper {
        padding: 0 30px; 
    }

    .slide__one .main__content {
        padding-left: 30px;
    }

    .slide__one .text__block-wrapper .main__title {
        font-size: 2.863rem;
    }

    .slide__one .text__block-wrapper .sub__title {
        font-size: 2.063rem;
    }

    .slide__one .image__block img {
        width: 80%;
    }

    .slide__one .image__block {
        text-align: center;
    }

    .slide__two .slide__title-h2 {
        font-size: 1.575rem;
    }

    .slide__two .description__wrapper {
        min-height: 340px;
    }

    .slide__two .image__container {
        text-align: center;
    }

    .slide__two .image__container img {
        width: 60%;
    }

    .slide__two .right-container .description__wrapper-text, .slide__two .left-container .description__wrapper-text {
        width: 90%;
        left: 5%;
    }

    .slide__two-header {
        padding-left: 20px;
    }

    .slide__two-mobile_device {
        top: 19%;
    }

    .slide__three .circle__wrapper {
        width: 100px;
        height: 100px;
    }

    .slide__three .main__item-wrapper .circle__wrapper img {
        width: 85%;
    }

    .slide__three-main::before {
        top: 13%;
    }

    .slide__three-main::after {
        top: 16%;
    }

    .slide__three-header {
        padding-left: 30px;
    }

    .slide__three .header__title {
        font-size: 1.575rem;
        line-height: 1;
        margin-bottom: 5px;
    }

    .mobile-hide {
        display: none;
    }

    .slide__three .main__item-header {
        margin-bottom: 5%;
    }

    .slide__three .text__steps {
        margin: 7px 0;
    }

    .slide__four-main_top .main__description, .slide__four .item__title {
        font-size: 0.7rem;
    }

    .slide__four .header__nav-item {
        font-size: 0.9rem;
    }

    .slide__four-item .image__wrapper {
        height: 265px;
    }

    .slide__four-item .image__wrapper img {
        width: 70%;
    }

    .slide__five .slide__five-main--left .image__container img {
        width: 50px;
    }

    .slide__five .right__container .image__container {
        width: 50px;
        height: 50px;
    }

    .slide__five .slide__five-main--left .left__container-item {
        margin-bottom: 1%;
    }

    .slide__six-header {
        padding-left: 55px;
        margin-bottom: 5%;
    }

    .slide__six .header__item-link {
        font-size: 1.25rem;
    }

    .slide__six .contacts__item {
        margin-bottom: 20px;
    }

    .slide__six {
        background-position-x: 30%, 0px;
    }

    .slide__six .main__map {
        min-height: 155px;
    }

    .slide__six .placeholder__image {
        top: 43%;
        left: 50%;
    }

    .slide__six .main__contacts {
        z-index: 1;
    }

    .registration__form .form__label, .contact__form .form__label, .search__form .form__label {
        font-size: 1rem;
        margin-bottom: 15px;
    }

    .registration__form .form__item, .contact__form .form__item {
        width: 100%;
        margin-bottom: 15px;
    }

    .registration__form input[type=text], .search__form input[type=text], .registration__form input[type=email], .contact__form input[type=text], .contact__form input[type=tel], .contact__form input[type=email], .contact__form textarea {
        padding: 15px 15px;
    }

    .registration__form .form__success .form__success-text p, .contact__form .form__success .form__success-text p {
        font-size: 1rem;
    }

    .registration__form input[type=submit], .contact__form input[type=submit] {
        font-size: 0.7rem;
        white-space: normal;
    }

    .slide__two .main-container.left-container {
        margin-right: 5px;
    }

    .slide__two .description__wrapper {
        margin-right: 5px;
    }

    .header__language, .menu-mobile, .header__email {
        margin-right: 10px;
    }
}

/**
* Laptop with low height
*/

@media (min-width: 1024px) and (max-height: 850px) {
    html {
        font-size: 14px;
    }

    .slide__three-wrapper {
        margin-top: 5%;
    }

    .slide__four-wrapper {
        padding: 0 0% 0 8%;
    }

    .slide__five .slide__five-main--left .image__container img {
        width: 100%;
    }

    .slide__five .slide__five-main--right .right__container-item {
        margin-bottom: 10%;
    }

    .slide__four-header {
        padding-bottom: 2%;
    }

    .slide__three-header {
        margin-bottom: 2%;
    }

    .slide__two-header {
        padding-bottom: 20px;
    }

    .aside__wrapper {
        background-size: auto 80%;
    }
}

@media (max-width: 1024px) and (max-height: 600px) {
    .slide__one .image__block {
        text-align: center;
    }

    .slide__one .image__block img {
        width: 70%;
    }

    .slide__one .footer__item {
        padding-bottom: 0;
    }

    .slide__two .description__wrapper {
        min-height: 380px;
    }

    .slide__two .image__container {
        text-align: center;
    }

    .slide__two .image__container img {
        width: 65%;
    }

    .slide__two .right-container .description__wrapper-text, .slide__two .left-container .description__wrapper-text {
        width: 50vw;
    }

    .slide__three .main__item-header {
        margin-bottom: 2%;
    }

    .slide__three-header {
        margin-bottom: 2%;
    }

    .slide__four-header {
        margin-top: 12%;
        padding-bottom: 2%;
    }

    .slide__four .header__nav {
        margin-top: 2%;
    }

    .slide__five .slide__five-main--left .left__container-item {
        margin-bottom: 1%;
    }

    .slide__five .slide__five-main--right .right__container-item {
        margin-bottom: 1%;
    }

    .slide__six .contacts__item {
        margin-bottom: 15px;
    }

    .slide__six-header {
        margin-bottom: 2%; 
    }
}

@media (max-width: 1024px) and (max-height: 414px) {
    .slide__one .image__block {
        display: none;
    }

    .header__link {
        margin-bottom: 20px;
    }

    .mobile__menu {
        padding-top: 120px;
    }

    .slide__two .image__container {
        display: none;
    }

    .slide__two .description__wrapper {
        min-height: 140px;
    }

    .mobile-hide {
        display: none;
    }

    .slide__three .circle__wrapper {
        width: 80px;
        height: 80px;
    }

    .slide__three .main__item-wrapper .circle__wrapper img {
        width: 80%;
    }

    .registration__form .form__item, .contact__form .form__label, .search__form .form__label {
        margin-bottom: 10px;
    }

    .slide__four-item .image__wrapper {
        height: 100px;
    }

    .slide__four-item .image__wrapper img {
        width: 25%;
        margin-left: 40%;
    }

    .slide__four .item__title {
        font-size: 0.6rem;
    }

    .slide__five .slide__five-main--left .image__container {
        margin-bottom: 0%;
    }

    .slide__five .slide__five-main--left .image__container img {
        width: 50px;
    }

    .slide__five .right__container .image__container {
        width: 50px;
        height: 50px;
    }

    .slide__six-footer--wrapper {
        padding: 3% 10%;
    }

    .slide__six .main__map {
        min-height: 55px;
    }
}

@media (max-width: 320px) and (max-height: 600px) {
    .slide__two .right-container .description__wrapper-text, .slide__two .left-container .description__wrapper-text {
        width: 100%;
    }

    .slide__four-header {
        margin-top: 25%; 
    }
}

/*
*   4K
*/

@media (min-width: 2560px) {
    html {
        font-size: 24px;
    }

    .aside__wrapper  {
        background-size: 2px 80%;
    }
}